<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/b3a07a02-c6ee-4240-ae1b-c3a8ba88f40b/resourceGroups/carbuddy-resource-group/providers/Microsoft.Web/sites/carbuddy-backend</ResourceId>
    <ResourceGroup>carbuddy-resource-group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://carbuddy-backend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>555a2a74-3efa-4246-8e93-43d3ff278fa0</ProjectGuid>
    <PublishUrl>https://carbuddy-backend.scm.azurewebsites.net/</PublishUrl>
    <UserName>$carbuddy-backend</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>